// bring in files included with Foundation framework
@import
  "normalize",
  "foundation";

// bring in own custom files
@import
  "variables",
  "fonts";

body {
  font-family: "OpenSansRegular", Verdana, sans-serif;
}

// TODO properly hide assistive text for screenreaders
.assistive-text { display: none; }

h1, h2, h3, h4, h5, h6 { font-family: QuicksandBold, Verdana, sans-serif; }
h2 { font-size: emCalc(24px); }

a { color: $highlight; }
.entry-header {
  background-color: $highlight;
  margin: 0;
  padding: 1em;
  text-align: center;
  h1 { font-family: QuicksandBook, Verdana, sans-serif;
    span {
      display: block;
      font-family: QuicksandBold, Verdana, sans-serif; }
  }
  p {
    font-family: OpenSans, Verdana, sans-serif;
    font-size: emCalc(15px);
    font-weight: bold;
  }
}

.post-type-archive-questions {

}

#content {
  border: 1px solid #e7e4dc;
  //box-shadow: -1px -1px 3px 3px rgba(0, 0, 0, .1), 1px 1px 3px 3px rgba(0, 0, 0, .1);
  margin: 0 1em 2em 1em;
  @media #{$medium} {
	@include grid-row();
  }
}

#masthead {
	h1 {
		margin: 0;
		font-family: QuicksandBook, Verdana, sans-serif;
		font-size: emCalc(24px);
		text-transform: uppercase;

		a { color: #fff; }

		b {
			color: $highlight;
			font-family: QuicksandBold, Verdana, sans-serif;
		}
	}
	.upper {
		background-color: #313131;

		.inner { @include grid-row(); }
	}
	.top-bar {
		margin-bottom: 0;
		.name h1 a {
			background: url(../img/infection-logo-top-small.png) top left no-repeat;
			display: block;
			height: 28px;
			margin-left: 15px;
			margin-top: 15px;
			text-indent: -9999px;
			width: 192px;

			@media #{$large} {
				background: url(../img/infection-logo-top.png) top left no-repeat;
				height: 78px;
				margin-top: 6px;
				width: 279px;
			}
		}
		.top-bar-section {
			@media #{$large} {
				float: right;
			}
		}
	}
	nav {
		.menu {
			li:last-child a { border-right: 1px solid #5a5a5a; }
			a {
				padding: 11px 20px;
				border-left: 1px solid #5a5a5a;
				font-family: QuicksandBook, Verdana, sans-serif;
				text-transform: uppercase;
			}
			.current-menu-item a { color: $highlight; }
		}
	}
	.lower {
		@include grid-row();
		margin: 1.5em auto 1em auto;
	}
	.tagline {
		color: $highlight;
		font-family: OpenSansItalic, Verdana, sans-serif;
		font-style: normal;
		font-weight: normal;
		margin: 0.3em auto 1em auto;
		text-align: center;
	}
	.tagline, .searchform {
		margin: 0;
		@media #{$medium} {
			@include grid-column(6);
			text-align: left;
		}
	}
	.searchform {
		text-align: center;

		@media #{$medium} {
			text-align: right;
		}

		input[type="search"] {
			-webkit-border-bottom-left-radius: 12px;
			-webkit-border-top-left-radius: 12px;
			-moz-border-radius-bottomleft: 12px;
			-moz-border-radius-topleft: 12px;
			border-bottom-left-radius: 12px;
			border-top-left-radius: 12px;
			border-width: 0;
			-webkit-box-shadow: 0px 0px 5px 0px #ccc;
			   -moz-box-shadow: 0px 0px 5px 0px #ccc;
					box-shadow: 0px 0px 5px 0px #ccc;
			display: inline;
			font-size: 0.8em;
			margin: 0;
			width: 50%;
		}
		input[type="submit"] {
			background: #fff; /* Old browsers */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e3e3e3)); /* Chrome, Safari4+ */
			background: -webkit-linear-gradient(top, #fff 0%, #e3e3e3 100%); /* Chrome10+, Safari5.1+ */
			background:    -moz-linear-gradient(top, #fff 0%, #e3e3e3 100%); /* FF3.6+ */
			background:     -ms-linear-gradient(top, #fff 0%, #e3e3e3 100%); /* IE10+ */
			background:      -o-linear-gradient(top, #fff 0%, #e3e3e3 100%); /* Opera 11.10+ */
			background:         linear-gradient(to bottom, #fff 0%, #e3e3e3 100%); /* W3C */
			-webkit-border-bottom-right-radius: 12px;
			-webkit-border-top-right-radius: 12px;
			-moz-border-radius-bottomright: 12px;
			-moz-border-radius-topright: 12px;
			border-bottom-right-radius: 12px;
			border-top-right-radius: 12px;
			border-width: 0;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e3e3e3', GradientType=0); /* IE6-9 */
			font-size: 0.8em;
			padding: 0.6em 1em;
		}
	} // .searchform
} // #masthead

.page {
  &.home {
	.upper { border-bottom: 1px solid #e7e4dc; }
	.lower { }
	//.upper, .lower { margin: 0 1em; }
	summary { font-size: emCalc(18px); }
	.latest-news {
	  @media #{$medium} {
		@include grid-column(4);
	  }
	  ul { list-style-type: none; }
	  li {
		border-top: 1px solid #e7e4dc;
		padding: 0.4em 0;
		&:last-child { border-bottom: 1px solid #e7e4dc; }
	  }
	  a { font-family: OpenSansSemibold, Verdana, sans-serif; }
	  p {
        a {
		  font-family: OpenSansBold, Verdana, sans-serif;
		  font-size: emCalc(15px);
		  font-weight: bold;
		  text-transform: uppercase;
		}
	  }
	}
	.whats-happening {
	  @media #{$medium} {
		@include grid-column(8);
	  }
	}
  }
}

#colophon {
  color: #ffffff;
  background-color: #afa99c;
  font-family: OpenSansSemibold, Verdana, sans-serif;
  padding: 1em 0;
  text-align: center;
  .site-info {
	@include grid-row();
  }
  a {
	color: #ffffff;
	&:hover { color: #000000; }
  }
  p {
	@media #{$medium} {
	  margin: 0;
	}
  }
  div {
	//padding: 1.5em 1em;
	//:first-child { margin-top: 0; }
	//:last-child { margin-bottom: 0; }
  }
  .left, .right {
	@media #{$medium} {
	  @include grid-row(nest);
	  @include grid-column(6);
	}
  }
  .infectionnet, .viha {
	//text-align: center;
    @include grid-column(12);

	@media #{$medium} {
      @include grid-column(6);
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .infectionnet {
	font-family: QuicksandBook, Verdana, sans-serif;
	font-size: emCalc(24px);
	text-transform: uppercase;
	b { font-family: QuicksandBold, Verdana, sans-serif; }
  }
  nav {
	display: none;
	@media #{$medium} {
	  display: block;
	}
	ul {
	  margin: 0;
	}
	li {
	  display: inline-block;
	  //text-align: center;
	  width: (100 / 7) + 0%;
	  @media #{$medium} {
		&:first-child { text-align: left; }
		&:last-child { text-align: right; }
	  }
	}
	a { text-transform: uppercase; }
  }
  nav, .twitter, .newsletter { font-size: emCalc(14px); }
  .news {
	@media #{$medium} {
	  @include grid-row(nest);
	  border-width: 0;
	}
	border: 1px solid #e7e4dc;
	border-width: 1px 0 1px 0;
  }
  .twitter, .newsletter {
	@media #{$medium} {
	  @include grid-column(6);
	}
	a {
	  background-position: 0 50%;
	  background-repeat: no-repeat;
	  display: inline-block;
	  padding: 1em 0 1em 40px;
	}
  }
  .twitter {
	@media #{$medium} {
	  text-align: left;
	}
	a {
	  background-image: url("../img/footer-twitter.png");
	}
  }
  .newsletter {
	@media #{$medium} {
	  text-align: right;
	}
	a {
	  background-image: url("../img/footer-mailchimp.png");
	}
  }
  .closing {
	@media #{$medium} {
	  @include grid-row(nest);
	}
	.copyright, .armada { font-size: emCalc(12px); }
	.copyright {
	  @media #{$medium} {
		@include grid-column(9);
		text-align: left;
	  }

// generalized for custom post type archives
.post-type-archive {
	.taxonomies {
		overflow: auto;
	}
	.taxonomy {
		margin-bottom: 1em;
		&:last-child { margin-bottom: 0; }

		@media #{$large} {
			@include grid_column(4);

			.inner {
				margin: 0 5% 0 5%;
			}

			&:nth-child(2n) {
				.inner { margin: 0; }
			}

			&:nth-child(2n+1) {
				clear: none;
				.inner { margin-left: 5%; }
			}

			&:first-child .inner { margin-left: 0; }
			&:last-child .inner { margin-right: 0; }
		}

		.inner {
			background-color: $grayLight;
			border: 1px solid #bababa;
			padding-bottom: 1em;
		}
	}
	.taxonomy-name {
		background-color: $highlight;
		color: #fff;
		font-size: emCalc(22px);
		margin: 0;
		padding: 1em 0;
		text-align: center;
	}
	.taxonomy-term-list {
//		list-style-type: none;
		margin: 1em;
	}
	ul { list-style-type: none; }
	ul ul { margin-top: 0.25em; }
	.cat-item {
		margin-bottom: 0.25em;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			background-color: #fff;
			border: 1px solid #e9e9e9;
			border-radius: 4px;
			color: #000;
			display: block;
			padding: 0.5em;
			&:hover {
//				background-color: #e9e9e9;
				color: $highlight;
			}
		}
	}
//	.children { margin-left: 0; }
//	.children .cat-item { padding-left: 1em; }
	.entry-brief {
		background-color: $grayLight;
		border: 1px solid #bababa;
		margin-bottom: 1em;
		overflow: auto;

		img {
			display: block;
			margin: 0 1em 0 0;
		}
		
		.entry-title {
			font-size: emCalc(17px);
		}
		
		.excerpt {
			font-size: emCalc(14px);	
		}

		@media #{$medium} {
			img { float: left; }
			.entry-title, .excerpt {}// margin-left: 225px; }
			&:last-child { margin-bottom: 0; }
		}
	}

	h2 {
		border-top: 1px solid #e9e9e9;
		clear: both;
		margin: 1em 0;
		padding-top: 1em;
	}
}

		@include grid-column(3);
		text-align: right;
	  }
	}
  }
}
