// bring in files included with Foundation framework
@import
	"normalize",
	"foundation";

// bring in own custom files
@import
	"variables",
	"fonts",
	"mixins";

// --------- generalized sitewide settings ---------

body {
	@media #{$medium} {
		background-color: $grayLight;
	}
	font-family: OpenSansRegular, Verdana, sans-serif;
}

// TODO properly hide assistive text for screenreaders
.assistive-text { display: none; }

h1, h2, h3, h4, h5, h6 { font-family: QuicksandBook, Verdana, sans-serif; }
h2 { font-size: emCalc(24px); }

a { color: $highlight; }

// --------- common styling across pages ---------

.breadcrumb {
	font-size: 0.7em;
	letter-spacing: 1px;
	margin: 0;
	padding: 1em;
	text-transform: uppercase;
	
	@media #{$medium} {
		padding: 1.2em 1em 1.2em 3em;
	}
}

.entry-header, .archive-header {
	background-color: $highlight;
	margin: 0;
	text-align: center;

	p {
		font-family: OpenSans, Verdana, sans-serif;
		font-size: emCalc(15px);
		font-weight: bold;
	}

	.standardsub-left {
		display: none;
	}

	@media #{$large} {
		@include grid-row();

		.standardsub-left, .standardsub-right {
			height: 199px;
			position: relative;
		}

		.standardsub-left {
			@include grid-column(4);

			display: block;

			.header-icon {
				@include absolute-middle-vertical();

				height: 40%; // assumes image height remains at ~80px and the banner at ~200px
			}
		}

		.standardsub-right {
			@include grid-column(8);

			.entry-title, .archive-title {
				@include absolute-middle-vertical();
			}
		}
	}

}

.archive-header .archive-title, .entry-header .entry-title {
	color: #fff;
	font-size: 2.1em;
	line-height: 1;
	margin: 0;
	padding: 1em 0;
}

#masthead {
	h1 {
		margin: 0;
		font-family: QuicksandBook, Verdana, sans-serif;
		font-size: emCalc(24px);
		text-transform: uppercase;
		a { color: #fff; }
		b {
			color: $highlight;
			font-family: QuicksandBold, Verdana, sans-serif;
		}
	}
	.upper {
		background-color: #313131;

		.inner { @include grid-row(); }
	}
	.top-bar {
		margin-bottom: 0;
		.name h1 a {
			background: url(../img/infection-logo-top-small.png) top left no-repeat;
			display: block;
			height: 28px;
			margin-left: 15px;
			margin-top: 15px;
			text-indent: -9999px;
			width: 192px;

			@media #{$large} {
				background: url(../img/infection-logo-top.png) top left no-repeat;
				height: 78px;
				margin-top: 6px;
				width: 279px;
			}
		}
		.top-bar-section {
			@media #{$large} {
				float: right;
			}
		}
	}
	nav {
		.menu {
			li:last-child a { border-right: 1px solid #5a5a5a; }
			a {
				padding: 11px 20px;
				border-left: 1px solid #5a5a5a;
				font-family: QuicksandBook, Verdana, sans-serif;
				text-transform: uppercase;
			}
			.current-menu-item a { color: $highlight; }
		}
	}
	.lower {
		@include grid-row();
		margin: 1.5em auto 1em auto;
	}
	.tagline {
		color: $highlight;
		font-family: OpenSansItalic, Verdana, sans-serif;
		font-style: normal;
		font-weight: normal;
		margin: 0.3em auto 1em auto;
		text-align: center;
	}
	.tagline, .searchform {
		margin: 0;
		@media #{$medium} {
			@include grid-column(6);
			text-align: left;
		}
	}
	.searchform {
		text-align: center;

		@media #{$medium} {
			text-align: right;
		}

		input[type="search"] {
			-webkit-border-bottom-left-radius: 12px;
			-webkit-border-top-left-radius: 12px;
			-moz-border-radius-bottomleft: 12px;
			-moz-border-radius-topleft: 12px;
			border-bottom-left-radius: 12px;
			border-top-left-radius: 12px;
			border-width: 0;
			-webkit-box-shadow: 0px 0px 5px 0px #ccc;
			   -moz-box-shadow: 0px 0px 5px 0px #ccc;
					box-shadow: 0px 0px 5px 0px #ccc;
			display: inline;
			font-size: 0.8em;
			margin: 0;
			width: 50%;
		}
		input[type="submit"] {
			background: #fff; /* Old browsers */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e3e3e3)); /* Chrome, Safari4+ */
			background: -webkit-linear-gradient(top, #fff 0%, #e3e3e3 100%); /* Chrome10+, Safari5.1+ */
			background:    -moz-linear-gradient(top, #fff 0%, #e3e3e3 100%); /* FF3.6+ */
			background:     -ms-linear-gradient(top, #fff 0%, #e3e3e3 100%); /* IE10+ */
			background:      -o-linear-gradient(top, #fff 0%, #e3e3e3 100%); /* Opera 11.10+ */
			background:         linear-gradient(to bottom, #fff 0%, #e3e3e3 100%); /* W3C */
			-webkit-border-bottom-right-radius: 12px;
			-webkit-border-top-right-radius: 12px;
			-moz-border-radius-bottomright: 12px;
			-moz-border-radius-topright: 12px;
			border-bottom-right-radius: 12px;
			border-top-right-radius: 12px;
			border-width: 0;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e3e3e3', GradientType=0); /* IE6-9 */
			font-size: 0.8em;
			padding: 0.6em 1em;
		}
	} // .searchform
} // #masthead

#content {
	background-color: #fff;

	@media #{$medium} {
		@include grid-row();

		border: 1px solid #e7e4dc;
	
		-webkit-border-top-left-radius:  12px;
		-webkit-border-top-right-radius: 12px;
		   -moz-border-radius-topleft:   12px;
		   -moz-border-radius-topright:  12px;
				border-top-left-radius:  12px;
				border-top-right-radius: 12px;
	
		-webkit-box-shadow: 0px 0px 5px 0px #ccc;
		   -moz-box-shadow: 0px 0px 5px 0px #ccc;
				box-shadow: 0px 0px 5px 0px #ccc;
		
		margin: 1em;
		width: auto;
	}
	
	@media #{$large} {
		margin: 0 auto 2em auto;
	}
}

.intro {
	color: #878887;
	font: normal emCalc(18px) OpenSansBold, Verdana, sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 75%;
}

.blog .entry-content, .single-post .entry-content {
	background-color: #f7f7f7;
	margin: 1em;
}

.entry-content {
//	background-color: #f7f7f7;
	margin: 1em;
	width: auto;
	
	@media #{$medium} {
		@include grid-row();

		margin: 1em;
		width: auto;
	}

	@media #{$large} {
		margin: 0.5em 0;
		padding: 2em 4em;
	}

	:first-child { margin-top: 0; }
	:last-child { margin-bottom: 0; }

	p {
		color: #313131;
		font-size: 0.9em;
	}
	
	img {
		margin-bottom: 1em;
		max-width: 100%;
	}
} // .entry-content

.entry-content-left {
	@media #{$medium} {
		@include grid-row();
	}
	
	@media #{$large} {
		@include grid-column($columns: 3, $pull: 9);
	}
	
	> div {
		margin-bottom: 1em;

		@media #{$medium} {
			@include grid-column(5);
			&:nth-child(2n) { @include grid-column($columns: 5, $offset: 2); }
			margin-bottom: 0;
		}
		@media #{$large} {
			@include grid-column($columns: 12, $offset: 0, $float: false);
			&:nth-child(2n) { @include grid-column($columns: 12, $offset: 0, $float: false); }
			margin-bottom: 1em;
		}
	}
	
	ul {
		list-style-type: none;
	}
	
	li {
		a {
			margin: 1.5em 0 1.5em 0.25em;
			border-bottom: 1px solid #ddd;
			
			&:hover {
				background-color: #f7f7f7;
			}
		}
		
		&.returnhome a {
			background: url(../img/icon-home.png) left center no-repeat #fff;
			border-bottom: none;
			padding: 0.25em 0 0.25em 30px;
			
			&:hover {
				background-color: #fff;
			}
		}
	}

	h2 {
		background-color: $highlight;
		color: #fff;
		font-size: 0.95em;
		padding: 1em 0 0.5em 0.5em;
		text-transform: uppercase;
	}

	summary {
		cursor: pointer;
		font: normal emCalc(14) OpenSansBold, Verdana, sans-serif;
		padding: 0.25em 0 0.75em 0;
		&:hover, &:focus { color: $highlight; }
	} // summary
	
	details {
		border: 1px solid #e0deda;
		padding: 0.5em;
		margin-bottom: 0.25em;

		ul {
			background-color: $grayLight;
			border-top: 1px solid #e0deda;
			list-style-type: none;
		}
		.children {
			margin-left: 0;
			margin-top: -0.75em;
		}
		.children li { padding-left: 1em; }
		li {
			border-bottom: 1px solid #e0deda;
		}
		li li:last-child { border-bottom-width: 0; }
		a {
			color: #626262;
			display: block;
			font: normal emCalc(12) OpenSansSemiboldItalic, Verdana, sans-serif;
			padding: 0.75em 0 0.75em 0.15em;
			&:hover, &:focus { color: $highlight; }
		}
		&[open] summary { margin-bottom: 0.5em; }
	} // details
} // .entry-content-left

.entry-content-right {
	margin-bottom: 1em;

	@media #{$large} {
		@include grid-column($columns: 8, $push: 3, $offset: 1);
		margin-bottom: 0;
	}
	
	h3 {
		color: $highlight;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
	}
} // .entry-content-right

#colophon {
	color: #6b6d6f;
	background-color: #313131;
	font-family: OpenSansSemibold, Verdana, sans-serif;
	padding: 1em;
	
	@media #{$large} {
		padding: 4.5em 1em;
	}
	
	.site-info {
		@include grid-row();
	}
	
	a {
		color: $highlight;
		&:hover { color: #000; }
	}
	
	.meta, .logos {
		overflow: auto;
		
		@media #{$medium} {
			@include grid-column(6);
		}
		
		@media #{$large} {
			@include grid-column(6);
		}
	}
	
	.meta {
		@media #{$medium} {
			border-right: 1px solid #3a3b3b;
			padding-right: 1em;
		}

		@media #{$large} {
			border-right: 1px solid #3d3e3e;
			padding-right: 2em;
		}
	}
	.logos {
		border-top: 1px solid #3d3e3e;
		padding-top: 1.25em;

		@media #{$medium} {
			border-top-width: 0;
			padding-left: 1em;
			padding-top: 0;
		}

		@media #{$large} {
			padding-left: 2em;
			padding-top: 1.5em;
		}
	}
	
	.infectionnet, .viha {
		text-align: center;
		
		@media #{$small} {
			@include grid-column(6);
		}
		@media #{$medium} {
			@include grid-column(12);
			//clear: both;
			text-align: center;
		}
		@media #{$large} {
			@include grid-column(6);
		}
	}
	
	.infectionnet {
		clear: left;
		@media #{$small} {
			//text-align: left;
		}
	}
	
	.viha {
		margin-bottom: 0;
		@media #{$small} {
			//text-align: right;
		}
	}
	
	.menu-footer-container {
		border-bottom: 1px solid #3a3b3b;
		margin-bottom: 1.5em;
		padding-bottom: 1em;

		ul {
			list-style-type: none;
			margin: 0;
			overflow: auto;
		}
		li {
			float: left;
			text-align: center;
			width: (100 / 2) + 0%;
//			width: auto;
//			margin-right: 0.5em;

//			&:nth-child(2n+1) { clear: left; }

			@media #{$small} {
				width: (100 / 3) + 0%;
//				&:nth-child(3n+1) { clear: left; }
			}

			@media #{$large} {
//				width: (100 / 6) + 0%;
				margin-right: 2em;
				text-align: left;
				width: auto;
//				&:first-child { text-align: left; }
//				&:last-child { text-align: right; }
			}
		}
		a {
			color: $highlight;
			margin-right: 0.2em;
			text-transform: uppercase;
		}
	} // nav
	
	.menu-footer-container, p { font-size: emCalc(13px); }
	
	.twitter, .newsletter {
		border-top: 1px solid #3a3b3b;
		padding-top: 1em;

		@media #{$medium} {
			@include grid-column(12);
		}
		
		@media #{$large} {
			@include grid-column(6);
		}
		
		a {
			display: block;
			background-color: #3d3e3e;
			background-position: 10px 50%;
			background-repeat: no-repeat;
			border-radius: 10px;
			color: #8c8e90;
			padding: 1em 0 1em 60px;
		}
	} // .twitter, .newsletter
	
	.twitter {
		a {
			background-image: url("../img/footer-twitter.png");
			@media #{$large} {
				border-radius: 10px 0 0 10px;
				margin-right: 0.2em;
			}
		}
	} // .twitter
	
	.newsletter {
		a {
			background-image: url("../img/footer-mailchimp.png");
			@media #{$large} {
				border-radius: 0 10px 10px 0;
				margin-left: 0.2em;
			}
		}
	} // .newsletter
	
	.copyright, .armada {
		font-size: emCalc(12px);
		text-align: center;
		@media #{$medium} {
			text-align: left;
		}
		@media #{$large} {
			margin-bottom: 2em;
			text-align: left;
		}
	}
	.copyright {
		@media #{$large} {
			@include grid-column(9);
		}
	}
	.armada {
		@media #{$large} {
			@include grid-column(3);
		}
	}
} // #colophon

// --------- styling specific pages ---------

.post {
//	padding: 2.5em 3em;
//	border-bottom: 1px solid #ddd;
//	margin: 0;
}
.post header {
//	font-size: 0.65em;
}
.post .entry-meta {
	letter-spacing: 1px;
	text-transform: uppercase;
//	font-size: 0.65em;
	font-weight: bold;
	padding: 1em 4em;
}

.page.home {
	.entry-header {
		padding: 2em;

		h1 {
			font: normal 2.4em/1.2 QuicksandBook, Verdana, sans-serif;
			margin: 0 0 0.25em 0;

			@media #{$large} {
				font-size: 3.5em;
				padding: 0;
			}
		}

		p {
			color: #fff;
			font-family: OpenSansRegular, Verdana, sans-serif;
			margin-bottom: 0;
		}

		@media #{$large} {
			background: $highlight url(../img/header-image-home.png) top center no-repeat;
			height: 340px;
			padding: 4em;
		}
	} // .entry-header

	.section-container {
		@include grid-row(nest);
	}

	.entry-header + .intro {
		color: #ffffff;
		background-image: url(../img/sub-banner-corners.png), url(../img/sub-banner-corners.png);
		background-position: top left, top right;
		background-repeat: no-repeat;
		font-size: em-calc(15px);
		font-weight: normal;
		overflow: auto;
		padding: 0 17px;
		text-align: left;
		width: auto;

		.intro-inner {
			background-color: rgb(49, 49, 49);
			padding: 1em;
		}

		&.with-thumbnail {
			img {
				height: 150px;
				width: 150px;
				float: left;
			}

			p {
				margin-left: 170px;
			}
		}

		:last-child {
			margin-bottom: 0;
		}
	}
	
	.entry-content .widget {
		@media #{$medium} {
			@include grid-column(6);
			&:nth-of-type(2n+3) {
				clear: left;
			}
		}
	}
	
	summary { font-size: emCalc(18px); }
	
	.go-deeper {
		background: url(../img/icon-read-more-news.png) left center no-repeat;
		display: block;
		font: bold 0.75em OpenSansSemibold, Verdana, sans-serif;
		letter-spacing: 1px;
		padding: 0.3em 0 0.3em 45px;
		text-transform: uppercase;
	} // .go-deeper

	.latest-news {
		@media #{$large} {
			@include grid-column(4);
			clear: left;
		}

		ul { list-style-type: none; }

		li {
			border-top: 1px solid #e7e4dc;
			padding: 0.4em 0;
			&:last-child { border-bottom: 1px solid #e7e4dc; }
		
			a {
				background: url(../img/icon-news-read-more.png) right center no-repeat;
				color: #3d3e3e;
				display: block;
				font: 0.9em OpenSansSemibold, Verdana, sans-serif;
				padding-right: 25px;
			}
		} // li
	} // .latest-news

	.whats-happening {
		margin-top: 2em;

		#bbpress-forums {
			margin-bottom: 0;

			.bbp-search-form { display: none; }

			.bbp-pagination { display: none; }
		}
		@media #{$large} {
			margin-top: 0;
			@include grid-column($columns: 7, $offset: 1);
		}
	} // .whats-happening
} // .page.home

.page.resources {
	.search-resources {
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		margin-bottom: 1.5em;
		margin-top: 1em;
		padding: 1em 0;
		
		fieldset { clear: both; overflow: auto; }
		legend {
			font-family: OpenSansBold, Verdana, sans-serif;
			font-size: 0.75em;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
		.search-resource-types {
			background-color: #eee;
			margin-bottom: 0.5em;
		}
		.search-resource-types label { float: left; margin-left: 1em; }
		input[type="checkbox"] { margin-right: 3px; }
		input[type="search"] { margin-bottom: 1em; }
	} // .search-resources
	.resource-types {
		list-style-type: none;

		@media #{$medium} {
			@include grid-column($columns: 8, $center: true);
			@include grid-row('nest');

			overflow: auto;
		}

		.resource-type {
			@media #{$large} {
				@include grid-column(4);
//				&:nth-child(2n+1) .inner { margin-left: auto; margin-right: 1em; }
			}
			
			.inner {
				background-color: $highlight;
				background-size: cover;
				border: 1px solid #ccc;
				height: 320px;
				margin-bottom: 2em;
				position: relative;
				width: 320px;
				
				@media #{$medium} {
					margin: 0 auto 2em 1em;
				}
				
				a {
					background-color: $grayLight;
					bottom: 0;
					color: #4d4d4d;
					display: block;
					font-weight: bold;
					padding: 1.2em;
					position: absolute;
					text-align: center;
					width: 100%;

					&:hover {
						background-color: #fff;
						color: #ccc;
					}
				} // a
			} // .inner
		} // .resource-type
		.cases .inner { background: $highlight url(../img/resources-cases.png) center center no-repeat; }
		.notes .inner { background: $highlight url(../img/resources-notes.png) center center no-repeat; }
		.questions .inner { background: $highlight url(../img/resources-questions.png) center center no-repeat; }
		.guidelines .inner { background: $highlight url(../img/resources-therapy-guidelines.png) center center no-repeat; }
	} // .resource-types

	.browse-resources {
		h2 { margin-bottom: 1em; }
	} // .browse-resources
} // .page.resources

.page.taxonomies {
	.taxonomies {
		overflow: auto;
	}
	.taxonomy {
		margin-bottom: 1em;

		&:last-child { margin-bottom: 0; }

		@media #{$large} {
			@include grid_column(4);

			.inner {
				margin: 0 5% 0 5%;
			}

			&:nth-child(2n) {
				.inner { margin: 0; }
			}

			&:nth-child(2n+1) {
				clear: none;
				.inner { margin-left: 5%; }
			}

			&:first-child .inner { margin-left: 0; }
			&:last-child .inner { margin-right: 0; }
		}

		.inner {
			background-color: $grayLight;
			border: 1px solid #bababa;
			padding-bottom: 1em;
		}
	}
	.taxonomy-name {
		background-color: $highlight;
		color: #fff;
		font-size: emCalc(22px);
		margin: 0;
		padding: 1em 0;
		text-align: center;
	}
	.taxonomy-term-list { margin: 1em; }
	ul { list-style-type: none; }
	ul ul { margin-top: 0.25em; }
	.cat-item {
		margin-bottom: 0.25em;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			background-color: #fff;
			border: 1px solid #e9e9e9;
			border-radius: 4px;
			color: #000;
			display: block;
			padding: 0.5em;
			&:hover {
				color: $highlight;
			}
		}
	}
} // .page.taxonomies

// generalized for custom post type archives
.page .our-people {
	.people {
		list-style-type: none;
		margin: 0;
		overflow: auto;
	}
	.person {
//		border: 1px solid $grayLight;
		margin-bottom: 1em;
		padding: 0.5em;
		
		@media #{$medium} {
			float: left;
			margin-right: 10%;
			width: 45%;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		@media #{$large} {
			margin-right: 5%;
			width: 30%;

			&:nth-of-type(2n) {
				margin-right: 5%;
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
		
		a {
			display: block;
			margin: 0 auto;
			text-align: center;
			width: 200px;
		}
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

.person {
	.avatar {
		border: 1px solid $grayLight;
		padding: 0.5em;
	}
}
	.taxonomy-term-list {
//		list-style-type: none;
		margin: 1em;
	}
	ul { list-style-type: none; }
	ul ul { margin-top: 0.25em; }
	.cat-item {
		margin-bottom: 0.25em;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			background-color: #fff;
			border: 1px solid #e9e9e9;
			border-radius: 4px;
			color: #000;
			display: block;
			padding: 0.5em;
			&:hover {
//				background-color: #e9e9e9;
				color: $highlight;
			}
		}
	}

// generalized for custom post type and taxonomy archives as well as built-ins
.post-type-archive, .taxonomy-archive, .category, .tag, .blog {
	article {
		margin-bottom: 1em;
		overflow: auto;

		img {
			display: block;
			margin: 0 1em 0 0;
		}
		
		.entry-title {
			font-size: emCalc(22px);
			margin: 2%;
		}
		
		.excerpt {
			font-size: emCalc(14px);	
			margin: 2%;
		}

		@media #{$medium} {
			img { float: left; }
			.entry-title, .excerpt {}// margin-left: 225px; }
			&:last-child { margin-bottom: 0; }
		}
	}

	h2 {
		border-top: 1px solid #e9e9e9;
		clear: both;
		margin: 1em 0;
		padding-top: 1em;
	}
}

// --------- specific elements ---------

button, .button {
	background: $highlight none !important;
	border: 1px solid #5d9037;
	color: white; 
	cursor: pointer;
	display: inline-block;
	font: bold 0.75em/1 QuicksandBold, Verdana, sans-serif;
	margin: 0 0 1.25em;
	padding: 0.75em 1.5em 0.8125em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}
button:hover, button:focus, .button:hover, .button:focus {
	background-color: #5d9037; color: white;
}

.entry-content-left p.browse {
	font-family: OpenSansBold, Verdana, sans-serif;
	font-size: 0.75em;
	letter-spacing: 1px;
	text-transform: uppercase; 
	color: $highlight;
	padding-left: 0.15em;
	padding-bottom: 0.25em;
	border-bottom: 3px solid $highlight;
}

article.blogposthome {
	margin: 1em;
}

article.blogposthome header.blogsingle-header h1 a {
	font-size: 1.5em !important; 
}

article.blogposthome header.blogsingle-header .entry-meta {
	font-size: 0.9em;
	padding-top: 0;
}